.center {
    text-align: center !important;
}
label{display: inherit  !important;}
.item-name{
    width: 200px !important;
       padding-right: 50px !important;
    padding-left: 10px !important;
}

.w-50 {
    width: 50% !important;
}
.m-w695px{

width: 695px !important;

}
.w-100 {
    width: 100% !important;
}

.menueitems {
    background: lightgreen !important;
    color: blue !important;
    height: 50px !important;
}

.MI1 {
    margin-right: 9px !important;
}

.MI3 {
    margin-left: 17px !important;
}

.MI2 {
    margin-left: 7px !important;
}
button{    padding-top: 5px !important;
    padding-bottom: 4px !important;}
.add1{
    margin-left: -30px !important;
      background: rgb(14 190 14) !important;
    color: white !important;
    padding-top: 5px !important;

    border: 0 !important;
    -webkit-appearance: none !important;
}

textarea:focus,
input:focus {
    outline: none !important;
}
.hidden,.none{display: none !important;}
.inline{

display: inline!important;

}
/* b-g= border - grayish */

.b-g {
    border: 2px #c3bebe solid !important;
}
.height-34px{    height: 34px !important;
}
.item-name,.add1 {
    border-radius: 100px !important;
    height:28px !important ;

}

td {
    text-align: center !important;
    border: 3px gainsboro solid !important;
    border-radius: 100px !important;
    height: 40px !important;
}

.divider {
    display: inline-block !important;
    border-right: 2px #c2c1c1 solid !important;
    height: 45px !important;
    bottom: 4px !important;
    position: absolute !important;
}

.grmenue {
    border: 3px lightgreen solid !important;
    background: lightgreen !important;
    bottom: 2px !important;
}

.menueitems:hover {
    border: 1px orange solid !important;
}

.td {
    padding: 7px !important;
}

.white {
    background-color: white !important;
}

.lineThough {
    text-decoration: line-through;
}